.configureMacroDiv {
    display: grid;
    grid-template-rows: 1fr;
}

.configureMacroDivItem {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.configureMacroDivItemButton {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.macroContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.addMacroBarContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
}