.configureMacroDiv {
    display: grid;
    grid-template-rows: 1fr;
    min-width: 12rem;
}

.configureMacroDivItem {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.configureMacroDivItemButton {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
}

.macroContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, 120px);
    grid-gap: 40px;
}

.macroContainer1 {
    grid-template-columns: repeat(1, 1fr);
}

.macroContainer2 {
    grid-template-columns: repeat(2, 1fr);
}

.macroContainer3 {
    grid-template-columns: repeat(3, 1fr);
}

.addMacroBarContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
}

.captureToActiveFileContainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.choiceNameHeader {
    text-align: center;
}

.choiceNameHeader:hover {
    cursor: pointer;
}