/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 6rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: var(--ifm-background-color);
	border-bottom: 1px solid var(--ifm-toc-border-color);
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 3rem 1rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.hero__title {
	font-size: 3rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

@media screen and (max-width: 996px) {
	.hero__title {
		font-size: 2.25rem;
	}
}

.features {
	display: flex;
	align-items: center;
	padding: 4rem 0;
	width: 100%;
}
